{
 "openapi": "3.0.3",
 "info": {
  "title": "OWBastion Platform API",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://api.owbastion.com"
  }
 ],
 "paths": {
  "/health": {
   "get": {
    "operationId": "getHealth",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/auth/qq/login-attempt": {
   "post": {
    "operationId": "createQqLoginAttempt",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/auth/qq/login-attempt/{attemptId}": {
   "get": {
    "operationId": "getQqLoginAttempt",
    "description": "Polls a QQ login attempt. A verified attempt issues a direct Player Account session for the account bound to the verified QQ member.",
    "parameters": [
     {
      "$ref": "#/components/parameters/attemptId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/qq/auth/verify": {
   "post": {
    "operationId": "verifyQqLogin",
    "description": "Verifies a QQ group code for a pending login attempt; a code that is not a login code falls through to an invitation channel-binding claim.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/qq/submissions": {
   "post": {
    "operationId": "submitQqScreenshot",
    "description": "Service-authenticated QQ screenshot intake. QQBot sends one resolved QQ attachment URL with the command message identity; the platform resolves the bound Player, fetches the image while the URL is valid, stores it in private evidence storage, and continues through the normal OCR lifecycle. Requires Idempotency-Key derived from the QQ command message. The attachment URL is never persisted.",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me": {
   "get": {
    "operationId": "getCurrentPlayer",
    "description": "Returns the authenticated Player Account profile and up to five recent submissions. QQ binding status is not part of the authentication contract.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/passkeys": {
   "get": {
    "operationId": "listCurrentPlayerPasskeys",
    "description": "Lists credential names and timestamps for the authenticated Player Account. Credential IDs and public keys are not returned.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/passkeys/registration/options": {
   "post": {
    "operationId": "createCurrentPlayerPasskeyRegistrationOptions",
    "description": "Creates a Passkey registration challenge bound to the authenticated Player Account.",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/passkeys/registration/verify": {
   "post": {
    "operationId": "completeCurrentPlayerPasskeyRegistration",
    "description": "Consumes a registration challenge only for the Player Account that created it.",
    "responses": {
     "204": {
      "description": "Passkey registered"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/passkeys/{passkeyId}": {
   "delete": {
    "operationId": "removeCurrentPlayerPasskey",
    "parameters": [
     {
      "name": "passkeyId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "description": "Removes a credential owned by the authenticated Player Account. At least one Passkey must remain.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/mastery": {
   "get": {
    "operationId": "getCurrentPlayerMastery",
    "description": "Authenticated current-player mastery read. Without a gameplay revision ID, aggregates and personal bests use active verified runs from each map's default revision; an explicit revision ID returns that revision's own profile. Bounded private history may include an invalidated status without lifecycle reasons. It excludes run codes, source submissions, evidence, OCR, QQ identity, audit, risk, and XP rule snapshot fields.",
    "parameters": [
     {
      "$ref": "#/components/parameters/masteryMapId"
     },
     {
      "$ref": "#/components/parameters/masteryGameplayRevisionId"
     },
     {
      "$ref": "#/components/parameters/masteryPage"
     },
     {
      "$ref": "#/components/parameters/masteryPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/activity": {
   "get": {
    "operationId": "getCurrentPlayerActivity",
    "description": "Authenticated current-player per-day Verified Run counts bucketed by UTC+8 calendar date over a bounded 371-day window, derived from the active Verified Run ledger. Each day carries only a date and a run count; no run IDs, match codes, maps, revisions, submissions, evidence, OCR, audit, account, or identity internals.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/challenge-progress": {
   "get": {
    "operationId": "listCurrentPlayerChallengeProgress",
    "description": "Authenticated current-player progress for aggregate Challenges derived from Verified Runs. Each item carries the challenge's required map set with per-map completion flags, the completed count, and the satisfied flag. It excludes submissions, evidence, OCR, audit, account, and identity internals.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/reviews/{targetType}/{targetId}": {
   "get": {
    "operationId": "getCurrentPlayerReview",
    "description": "Map reviews require the exact gameplayRevisionId query parameter; Event reviews remain scoped to the stable Event and return gameplayRevisionId null.",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewTargetType"
     },
     {
      "$ref": "#/components/parameters/reviewTargetId"
     },
     {
      "$ref": "#/components/parameters/reviewGameplayRevisionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "put": {
    "operationId": "upsertCurrentPlayerReview",
    "description": "Map reviews require the exact current default gameplayRevisionId query parameter; Event reviews remain scoped to the stable Event and return gameplayRevisionId null.",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewTargetType"
     },
     {
      "$ref": "#/components/parameters/reviewTargetId"
     },
     {
      "$ref": "#/components/parameters/reviewGameplayRevisionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/reviews/{reviewId}/withdraw": {
   "post": {
    "operationId": "withdrawCurrentPlayerReview",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/titles": {
   "get": {
    "operationId": "listCurrentPlayerTitles",
    "description": "Returns the signed-in player's active title grants, including grants whose catalog title is retired, with current equipped state for eligible global grants. Map-scoped titles remain available through their current map projection and are never manually equipped. allTitles is an independent platform entitlement; when true, Bastion receives all current global titles without relying on equipped rows.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/titles/equipped": {
   "put": {
    "operationId": "replaceCurrentPlayerEquippedTitles",
    "parameters": [
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/submissions/{submissionId}": {
   "get": {
    "operationId": "getPlayerSubmission",
    "description": "Private player submission detail may include only the safe mastery outcome status and awarded XP. It excludes match codes, Verified Run IDs, internal reasons, conflict fields, and OCR raw data; the OCR summary carries the recognition model version only as an identifier. When present, evidenceUrl is the unlisted CDN URL needed by the screenshot view; anyone who obtains it can read the image. When the submission carries usable OCR evidence, the response may include a feedback presentation contract with a derived mode (none/targeted/grouped), safe field identifiers and values, the prompt origin category, and explicit submitted/available state; it never includes numeric confidence, thresholds, warnings, risk signals, or raw OCRKit payloads.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/me/submissions/{submissionId}/ocr-feedback": {
   "post": {
    "operationId": "submitPlayerOcrFeedback",
    "description": "Authenticated player marks whether the latest recognition result for their own Submission read the screenshot accurately. The request binds to a specific OCR result; a stale result returns OCR_PROMPT_STALE. The mark carries no transcription content, never changes the Submission decision, challenge, Grant, or mastery outcome, and never overwrites original OCR evidence. It is a sampling/prioritization hint for OCRKit only, never a training label. Players and maintainers share one mark per (Submission, OCR result); the latest value wins. Retries are idempotent via the Idempotency-Key header.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/auth/passkeys/login/options": {
   "post": {
    "operationId": "createPasskeyLoginOptions",
    "description": "Creates a discoverable Passkey authentication challenge. Requests require the configured Portal Origin.",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/auth/passkeys/login/verify": {
   "post": {
    "operationId": "completePasskeyLogin",
    "description": "Verifies the one-time challenge, credential, user verification, expected Origin and RP ID, then issues the Portal session cookie.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/auth/logout": {
   "post": {
    "operationId": "logout",
    "responses": {
     "204": {
      "description": "Logged out"
     }
    }
   }
  },
  "/v1/public/passkeys/recovery/options": {
   "post": {
    "operationId": "createPasskeyRecoveryOptions",
    "description": "Returns registration options for a valid, unused, short-lived maintainer recovery grant.",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/passkeys/recovery/verify": {
   "post": {
    "operationId": "completePasskeyRecoveryRegistration",
    "description": "Consumes the recovery grant and challenge, registers a new credential on the same Player Account, then issues a Portal session cookie.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/reviews/summaries": {
   "get": {
    "operationId": "getPublicReviewSummaries",
    "description": "Event batches pass unique stable Event IDs only. Map batches require one gameplayRevisionIds entry per targetId, in the same order; a map ID may repeat for distinct Revisions, but each map/Revision pair must be unique. The response contains one aggregate per exact map Revision.",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewTargetTypeQuery"
     },
     {
      "$ref": "#/components/parameters/reviewTargetIds"
     },
     {
      "$ref": "#/components/parameters/reviewGameplayRevisionIds"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/reviews/{targetType}/{targetId}/summary": {
   "get": {
    "operationId": "getPublicReviewSummary",
    "description": "Map reviews require the exact gameplayRevisionId query parameter. Event reviews remain scoped to the stable Event and return gameplayRevisionId null.",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewTargetType"
     },
     {
      "$ref": "#/components/parameters/reviewTargetId"
     },
     {
      "$ref": "#/components/parameters/reviewGameplayRevisionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/reviews/{targetType}/{targetId}/comments": {
   "get": {
    "operationId": "listPublicReviewComments",
    "description": "Map comments require the exact gameplayRevisionId query parameter. Event comments remain scoped to the stable Event and return gameplayRevisionId null.",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewTargetType"
     },
     {
      "$ref": "#/components/parameters/reviewTargetId"
     },
     {
      "$ref": "#/components/parameters/reviewGameplayRevisionId"
     },
     {
      "$ref": "#/components/parameters/reviewPage"
     },
     {
      "$ref": "#/components/parameters/reviewPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/reviews": {
   "get": {
    "operationId": "listAdminReviews",
    "parameters": [
     {
      "$ref": "#/components/parameters/adminReviewTargetType"
     },
     {
      "$ref": "#/components/parameters/adminReviewTargetId"
     },
     {
      "$ref": "#/components/parameters/adminReviewStatus"
     },
     {
      "$ref": "#/components/parameters/adminReviewCommentStatus"
     },
     {
      "$ref": "#/components/parameters/adminReviewRating"
     },
     {
      "$ref": "#/components/parameters/adminReviewFrom"
     },
     {
      "$ref": "#/components/parameters/adminReviewTo"
     },
     {
      "$ref": "#/components/parameters/reviewPage"
     },
     {
      "$ref": "#/components/parameters/reviewPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/reviews/{reviewId}": {
   "get": {
    "operationId": "getAdminReview",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/reviews/{reviewId}/comment": {
   "post": {
    "operationId": "moderateAdminReviewComment",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/reviews/{reviewId}/state": {
   "post": {
    "operationId": "moderateAdminReviewState",
    "parameters": [
     {
      "$ref": "#/components/parameters/reviewId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/verified-runs": {
   "get": {
    "operationId": "listAdminVerifiedRuns",
    "description": "Maintainer-only, uncached Verified Run list. It may filter by player, map, gameplay revision, difficulty, state, acceptance origin, match code, and inclusive accepted-at range. It includes private operational fields and must not be exposed through player or public routes.",
    "parameters": [
     {
      "$ref": "#/components/parameters/adminVerifiedRunPlayerAccountId"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunMapId"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunGameplayRevisionId"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunDifficulty"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunStatus"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunAcceptanceSource"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunMatchCode"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunFrom"
     },
     {
      "$ref": "#/components/parameters/adminVerifiedRunTo"
     },
     {
      "$ref": "#/components/parameters/masteryPage"
     },
     {
      "$ref": "#/components/parameters/masteryPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/verified-runs/{verifiedRunId}": {
   "get": {
    "operationId": "getAdminVerifiedRun",
    "description": "Maintainer-only, uncached operational detail with the Verified Run, source submission metadata (without its evidence URL), XP snapshot, current map projection, lifecycle, correction before/after history, and same-player match-code conflicts. New awards use XP v2 without a Challenge bonus; historical v1 snapshots remain visible. It is not a public or player response.",
    "parameters": [
     {
      "$ref": "#/components/parameters/verifiedRunId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/verified-runs/{verifiedRunId}/state": {
   "post": {
    "operationId": "transitionAdminVerifiedRun",
    "description": "Maintainer-only idempotent invalidation or restoration. The transition records actor, time, optional reason, lifecycle and audit state, and recomputes the source submission outcome and current map projection. Restoration rejects a colliding active same-player match code.",
    "parameters": [
     {
      "$ref": "#/components/parameters/verifiedRunId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/verified-runs/{verifiedRunId}/conflicts/{submissionId}": {
   "post": {
    "operationId": "resolveAdminVerifiedRunConflict",
    "description": "Maintainer-only idempotent conflict resolution. Keeping the original records the decision without merging screenshots; invalidating it preserves both submissions and requires the corrected submission to continue through the normal reviewed OCR/submission path.",
    "parameters": [
     {
      "$ref": "#/components/parameters/verifiedRunId"
     },
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/verified-runs/{verifiedRunId}/corrections": {
   "post": {
    "operationId": "correctAdminVerifiedRun",
    "description": "Maintainer-only, idempotent, evidence-backed correction of normalized gameplay facts on the existing Run. Map and Gameplay Revision must be supplied together; the reason is optional, while Idempotency-Key is required. The service preserves player, source Submission, acceptance provenance and lifecycle, records before/after facts and XP snapshots in audit, recalculates current XP and revision-scoped Mastery projections, and updates the source verified_run outcome. A changed Run is recalculated with XP v2; untouched v1 records are not rewritten.",
    "parameters": [
     {
      "$ref": "#/components/parameters/verifiedRunId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/achievements": {
   "get": {
    "operationId": "listPublicAchievements",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/achievement-icons/{titleKey}": {
   "get": {
    "operationId": "getPublicAchievementIcon",
    "description": "Legacy/unversioned URL. Always resolves to the title's current icon, but with a short cache TTL (never `immutable`) since the bytes behind this exact URL can change on the next upload.",
    "parameters": [
     {
      "$ref": "#/components/parameters/titleKey"
     }
    ],
    "responses": {
     "200": {
      "description": "Public achievement icon"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/achievement-icons/{titleKey}/{version}": {
   "get": {
    "operationId": "getPublicVersionedAchievementIcon",
    "description": "Versioned icon URL returned by `uploadAdminTitleIcon`. Immutable and cacheable for one year: the version segment changes on every upload, and a version that no longer matches the title's current icon returns 404 rather than another upload's bytes.",
    "parameters": [
     {
      "$ref": "#/components/parameters/titleKey"
     },
     {
      "$ref": "#/components/parameters/titleIconVersion"
     }
    ],
    "responses": {
     "200": {
      "description": "Public achievement icon"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/binding-invites/redeem": {
   "post": {
    "operationId": "redeemBindingInvite",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/binding-claims/{claimId}": {
   "get": {
    "operationId": "getBindingClaimStatus",
    "parameters": [
     {
      "$ref": "#/components/parameters/claimId"
     },
     {
      "$ref": "#/components/parameters/claimToken"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/public/binding-claims/{claimId}/session": {
   "post": {
    "operationId": "exchangeBindingClaimSession",
    "description": "Requires an approved claim. The claim token can bootstrap the Portal session for five minutes after approval; retries in that window recover a response lost in transit.",
    "parameters": [
     {
      "$ref": "#/components/parameters/claimId"
     },
     {
      "$ref": "#/components/parameters/claimToken"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/challenges": {
   "get": {
    "operationId": "listChallenges",
    "description": "Each map challenge projection includes its required gameplayRevisionId. Clients preserve that exact ID when creating or confirming a map submission.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/titles": {
   "get": {
    "operationId": "listTitles",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapIdQuery"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/maps": {
   "get": {
    "operationId": "listMaps",
    "description": "Returns the active map catalog. Each map includes defaultGameplayRevisionId when a current default gameplay revision exists; clients use that exact ID to project current map progress and must not infer it from challenge ordering.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/events": {
   "get": {
    "operationId": "listRandomEvents",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/events/{eventId}": {
   "get": {
    "operationId": "getRandomEvent",
    "parameters": [
     {
      "$ref": "#/components/parameters/eventId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/events": {
   "get": {
    "operationId": "listAgentEvents",
    "description": "Read-only Bastion build projection. Each event carries an optional eventGroup label (null when unset); it is display metadata and does not affect Bastion eligibility. Events belonging to a suspended game version are omitted entirely; the projection does not expose the operational availability state. Without status, the projection covers implemented and removed events; an explicit status selects that single releaseStatus, including development events outside the default projection.",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     },
     {
      "$ref": "#/components/parameters/agentQuery"
     },
     {
      "$ref": "#/components/parameters/agentCategory"
     },
     {
      "$ref": "#/components/parameters/agentRarity"
     },
     {
      "$ref": "#/components/parameters/agentEventStatus"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/events/{eventId}": {
   "get": {
    "operationId": "getAgentEvent",
    "description": "Returns an event only when its game version is available to the Bastion build projection and its releaseStatus matches the requested status filter; without status, only implemented or removed events are returned.",
    "parameters": [
     {
      "$ref": "#/components/parameters/eventId"
     },
     {
      "$ref": "#/components/parameters/agentEventStatus"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/maps": {
   "get": {
    "operationId": "listAgentMaps",
    "description": "Read-only Bastion build projection. Each active map remains listed, but gameplayRevisions contains only lifecycle=default/selectable revisions with valid typed spatialConfig, valid revision-scoped challenge references, and exactly one projectable default. For static spatial configs, control role arrays are independently present only when the stable Bastion map implementation uses them; a respawn axis requires a respawn vector. Static multi-stage maps may expose deterministic alternateStages with stable stage IDs and platform-owned setupDetection coordinates plus a positive radius; Bastion evaluates each selector once during setup. Composite configs store reset/end/third-person/credits points and the required scalar respawn axis/threshold once at the route root; each atomic stage owns Bastion spawns, control centers, exactly one paired control jump/respawn point, portals, and springboards. Bastion assembles stage-local arrays in selected order. Composite revisions expose unique atomic stages and selection constraints without pre-expanding route permutations or choosing a per-game route. The remainingStageSelection mode may be random_unique or stage_id_cycle; stage_id_cycle advances in stable stageId order and wraps from the final ID to the first. A stage may carry optional resetPosition, thirdPersonPosition, creditsPosition (used when it is the route's first stage) and endPosition (used when it is the last stage), overriding the route-root values. Stored legacy full-stage composite rows remain editable but are omitted from this Agents projection. An empty gameplayRevisions array means the map has no projectable gameplay revisions; it does not mean that the map or its retained revisions are retired. Arrays are deterministic: maps by mapName/mapId, revisions default first then gameplayRevisionId, and challengeRefs by challengeId.",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     },
     {
      "$ref": "#/components/parameters/agentQuery"
     },
     {
      "$ref": "#/components/parameters/agentMechanic"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/maps/{mapId}": {
   "get": {
    "operationId": "getAgentMap",
    "description": "Returns the same stable map projection as listAgentMaps. gameplayRevisions is an explicit enabled/default/selectable projection; preparing and historical revisions are omitted, and incomplete spatial or challenge data is never emitted as Bastion-ready.",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/achievements": {
   "get": {
    "operationId": "listAgentAchievements",
    "description": "Returns current global achievements plus map challenge projections for projectable enabled gameplay revisions. Map items carry gameplayRevisionId; consumers join a map item's challengeRefs to these definitions using family + challengeId + gameplayRevisionId, rather than labels, array order, or null fields.",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     },
     {
      "$ref": "#/components/parameters/agentQuery"
     },
     {
      "$ref": "#/components/parameters/agentStatus"
     },
     {
      "$ref": "#/components/parameters/mapIdQuery"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/achievements/{achievementId}": {
   "get": {
    "operationId": "getAgentAchievement",
    "description": "A map challenge lookup is unambiguous only when mapId and, where a challenge is assigned to multiple enabled revisions, gameplayRevisionId identify the intended projection.",
    "parameters": [
     {
      "$ref": "#/components/parameters/achievementId"
     },
     {
      "$ref": "#/components/parameters/mapIdQuery"
     },
     {
      "$ref": "#/components/parameters/agentGameplayRevisionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/titles": {
   "get": {
    "operationId": "listAgentTitles",
    "description": "Build projection for Bastion. Includes stable global title definitions regardless of player-facing release metadata or challenge lifecycle; gameVersion is null when no release version is assigned. Inclusion here does not make a title visible, earnable, or equipable through player-facing flows.",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     },
     {
      "$ref": "#/components/parameters/agentQuery"
     },
     {
      "$ref": "#/components/parameters/agentCategory"
     },
     {
      "$ref": "#/components/parameters/agentScope"
     },
     {
      "$ref": "#/components/parameters/mapIdQuery"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/titles/{titleKey}": {
   "get": {
    "operationId": "getAgentTitle",
    "description": "Global title details use the same stable build projection as listAgentTitles, including titles without player release metadata (gameVersion: null).",
    "parameters": [
     {
      "$ref": "#/components/parameters/titleKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/player-title-grants": {
   "get": {
    "operationId": "listAgentPlayerTitleGrants",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/map-title-holders": {
   "get": {
    "operationId": "listAgentMapTitleHolders",
    "description": "Returns active public map title holders only for projectable enabled revisions of the requested stable map. Every item carries gameplayRevisionId; historical-only, preparing, null-revision, and otherwise non-projectable grants are omitted. A projectable map with no active holders returns a 200 empty page; an active map whose enabled revision projection is unavailable returns 503 AGENT_MAP_TITLE_PROJECTION_UNAVAILABLE.",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     },
     {
      "$ref": "#/components/parameters/mapIdQueryRequired"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "503": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/agents/search": {
   "get": {
    "operationId": "searchAgentContent",
    "description": "kind=title searches the same global title build projection as listAgentTitles and getAgentTitle; player release metadata and challenge lifecycle do not filter those stable definitions. status filters event results by releaseStatus the same way as listAgentEvents; other kinds are unaffected.",
    "parameters": [
     {
      "$ref": "#/components/parameters/agentPage"
     },
     {
      "$ref": "#/components/parameters/agentPageSize"
     },
     {
      "$ref": "#/components/parameters/agentQueryRequired"
     },
     {
      "$ref": "#/components/parameters/agentKind"
     },
     {
      "$ref": "#/components/parameters/agentEventStatus"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/player/uploads/session": {
   "post": {
    "operationId": "createPlayerUploadSession",
    "description": "Creates a single-image evidence upload session. Players do not choose a Challenge; the platform evaluates eligible canonical Challenge Conditions against OCR evidence.",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/uploads/{uploadId}": {
   "put": {
    "operationId": "uploadEvidence",
    "parameters": [
     {
      "$ref": "#/components/parameters/uploadId"
     }
    ],
    "responses": {
     "204": {
      "description": "Uploaded"
     }
    }
   }
  },
  "/v1/player/uploads/{uploadId}/complete": {
   "post": {
    "operationId": "completePlayerUpload",
    "parameters": [
     {
      "$ref": "#/components/parameters/uploadId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/player/submissions/{submissionId}/manual-review": {
   "post": {
    "operationId": "requestPlayerManualReview",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "204": {
      "description": "Manual review requested"
     }
    }
   }
  },
  "/v1/qq/groups": {
   "post": {
    "operationId": "registerQqGroup",
    "responses": {
     "204": {
      "description": "Registered"
     }
    }
   }
  },
  "/v1/admin/qq/groups/{groupOpenId}": {
   "put": {
    "operationId": "updateQqGroupAccess",
    "parameters": [
     {
      "$ref": "#/components/parameters/groupOpenId"
     }
    ],
    "responses": {
     "204": {
      "description": "Updated"
     }
    }
   }
  },
  "/v1/admin/qq/groups": {
   "get": {
    "operationId": "listQqGroupAccess",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/player-accounts": {
   "get": {
    "operationId": "listAdminPlayers",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/player-accounts/{playerAccountId}": {
   "get": {
    "operationId": "getAdminPlayer",
    "parameters": [
     {
      "$ref": "#/components/parameters/playerAccountId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/player-accounts/{playerAccountId}/status": {
   "put": {
    "operationId": "updateAdminPlayerStatus",
    "parameters": [
     {
      "$ref": "#/components/parameters/playerAccountId"
     }
    ],
    "responses": {
     "204": {
      "description": "Updated"
     }
    }
   }
  },
  "/v1/admin/player-accounts/{playerAccountId}/passkey-recovery": {
   "post": {
    "operationId": "createAdminPasskeyRecovery",
    "description": "Maintainer-only. After the administrator attests that identity was independently verified, revokes the account Passkeys and sessions and returns a one-time, 30-minute recovery link for the same Player Account.",
    "parameters": [
     {
      "$ref": "#/components/parameters/playerAccountId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/player-accounts/{playerAccountId}/identity": {
   "put": {
    "operationId": "updateAdminPlayerIdentity",
    "parameters": [
     {
      "$ref": "#/components/parameters/playerAccountId"
     }
    ],
    "responses": {
     "204": {
      "description": "Updated"
     }
    }
   }
  },
  "/v1/admin/player-accounts/{playerAccountId}/titles/equipped": {
   "put": {
    "operationId": "replaceAdminPlayerEquippedTitles",
    "description": "Maintainer-only replacement of a player's equipped global-title selection. It preserves grants, validates eligible global-title rules and the ten-title limit as the player route, and is idempotent; map-scoped titles are automatic and never enter equipped state. The Portal highlights migration-gap accounts as a recovery case.",
    "parameters": [
     {
      "$ref": "#/components/parameters/playerAccountId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/achievements": {
   "get": {
    "operationId": "listAdminAchievements",
    "description": "Maintainers can inspect the Title catalog and its Challenge acquisition paths. Titles expose draft, active, or retired lifecycle and independent public visibility; canonical Challenges expose draft, active, or archived lifecycle and optional time windows.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "post": {
    "operationId": "createAdminAchievement",
    "description": "Creates an authoring-side title challenge. Issuance records a canonical Challenge Completion and linked Title Grant. The canonical Challenge lifecycle is draft, active, or archived; time windows and public-condition visibility are separate from that lifecycle.",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps": {
   "get": {
    "operationId": "listAdminMaps",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/editor": {
   "get": {
    "operationId": "getAdminMapEditor",
    "description": "Maintainer-only map revision workspace. It includes retained preparing and historical revisions, revision-scoped challenge assignments, spatial configuration and audit records; it is not the Bastion projection.",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/revisions": {
   "post": {
    "operationId": "createAdminMapRevision",
    "description": "Creates a preparing revision for reset/rework. The target game version defaults to the current date in YYYY.MM.DD format and may be supplied by a maintainer; an optional reset reason is audit-only. When configuration copying is requested, only spatial configuration and challenge assignments are copied; player progress is never copied.",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/revisions/{revisionId}": {
   "put": {
    "operationId": "updateAdminMapRevision",
    "description": "Saves lifecycle, game version, spatial configuration and revision-scoped challenge assignments. It cannot change a Revision into or out of default; use the explicit promotion operation for that transition.",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     },
     {
      "$ref": "#/components/parameters/revisionId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/revisions/{revisionId}/promote": {
   "post": {
    "operationId": "promoteAdminMapRevision",
    "description": "Explicit, idempotent reset/promotion of a prepared or selectable Gameplay Revision. Promotion atomically makes it the default and moves the previous default to the requested selectable or historical lifecycle. It preserves old Challenges, Completions, Grants, Runs, evidence and Audit; it does not revoke ownership, copy progress or create a synthetic revision-reset revocation.",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     },
     {
      "$ref": "#/components/parameters/revisionId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/map-title-rules": {
   "get": {
    "operationId": "listAdminMapTitleRules",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "post": {
    "operationId": "createAdminMapTitleRule",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/map-title-rules/{ruleId}": {
   "put": {
    "operationId": "updateAdminMapTitleRule",
    "parameters": [
     {
      "$ref": "#/components/parameters/ruleId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/map-title-inheritance": {
   "get": {
    "operationId": "listAdminMapTitleInheritance",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/map-title-rules/{ruleId}/exception": {
   "put": {
    "operationId": "upsertAdminMapTitleRuleException",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     },
     {
      "$ref": "#/components/parameters/ruleId"
     }
    ],
    "responses": {
     "204": {
      "description": "Updated"
     }
    }
   }
  },
  "/v1/admin/events": {
   "get": {
    "operationId": "listAdminRandomEvents",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "post": {
    "operationId": "createAdminRandomEvent",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/events/{eventId}": {
   "put": {
    "operationId": "updateAdminRandomEvent",
    "parameters": [
     {
      "$ref": "#/components/parameters/eventId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "delete": {
    "operationId": "archiveAdminRandomEvent",
    "parameters": [
     {
      "$ref": "#/components/parameters/eventId"
     }
    ],
    "responses": {
     "204": {
      "description": "Archived"
     }
    }
   }
  },
  "/v1/admin/events/imports/preview": {
   "post": {
    "operationId": "previewRandomEventImport",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/events/imports": {
   "post": {
    "operationId": "importRandomEvents",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/event-versions": {
   "get": {
    "operationId": "listAdminRandomEventVersions",
    "description": "Maintainer-only random-event version availability. Suspension is operational metadata and does not change event lifecycle or balancing fields.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/event-versions/{gameVersion}/availability": {
   "put": {
    "operationId": "updateAdminRandomEventVersionAvailability",
    "description": "Atomically suspends or restores every random event in a game version. The change takes effect for the next Bastion sync/build/release; the platform does not trigger those operations.",
    "parameters": [
     {
      "name": "gameVersion",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/maps/{mapId}/metadata": {
   "put": {
    "operationId": "updateAdminMapMetadata",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/titles/{titleKey}": {
   "put": {
    "operationId": "updateAdminTitle",
    "description": "Updates catalog metadata and the Title's draft, active, or retired lifecycle. publicVisibility independently controls public presentation. Acquisition remains Challenge-derived and creates a Completion before a Grant.",
    "parameters": [
     {
      "$ref": "#/components/parameters/titleKey"
     }
    ],
    "responses": {
     "204": {
      "description": "Updated"
     }
    }
   }
  },
  "/v1/admin/titles": {
   "get": {
    "operationId": "listAdminTitles",
    "parameters": [
     {
      "$ref": "#/components/parameters/mapIdQuery"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/titles/{titleKey}/icon": {
   "post": {
    "operationId": "uploadAdminTitleIcon",
    "parameters": [
     {
      "$ref": "#/components/parameters/titleKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/achievements/{challengeId}": {
   "put": {
    "operationId": "updateAdminAchievement",
    "description": "Updates title challenge rules, lifecycle, optional schedule boundaries, and gameVersion. Adding release metadata later does not recreate the challenge; an already public challenge cannot clear it.",
    "parameters": [
     {
      "$ref": "#/components/parameters/challengeId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/bindings/{bindingId}": {
   "delete": {
    "operationId": "removeAdminBinding",
    "parameters": [
     {
      "$ref": "#/components/parameters/bindingId"
     }
    ],
    "responses": {
     "204": {
      "description": "Removed"
     }
    }
   }
  },
  "/v1/admin/binding-invites": {
   "get": {
    "operationId": "listBindingInvites",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "post": {
    "operationId": "createBindingInvite",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/binding-invites/batch": {
   "post": {
    "operationId": "createBindingInvitesBatch",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/binding-invites/{inviteId}/code": {
   "get": {
    "operationId": "getBindingInviteCode",
    "parameters": [
     {
      "$ref": "#/components/parameters/inviteId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/binding-invites/{inviteId}/revoke": {
   "post": {
    "operationId": "revokeBindingInvite",
    "parameters": [
     {
      "$ref": "#/components/parameters/inviteId"
     }
    ],
    "responses": {
     "204": {
      "description": "Revoked"
     }
    }
   }
  },
  "/v1/admin/binding-claims": {
   "get": {
    "operationId": "listBindingClaims",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/binding-claims/{claimId}/decision": {
   "post": {
    "operationId": "decideBindingClaim",
    "parameters": [
     {
      "$ref": "#/components/parameters/claimId"
     }
    ],
    "responses": {
     "204": {
      "description": "Decided"
     }
    }
   }
  },
  "/v1/admin/title-grants": {
   "get": {
    "operationId": "listHistoricalTitleGrants",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "post": {
    "operationId": "createAdminTitleGrant",
    "responses": {
     "204": {
      "description": "Created"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/title-grants/bulk": {
   "post": {
    "operationId": "createAdminTitleGrantsBulk",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/title-grants/manual": {
   "post": {
    "operationId": "createAdminManualTitleGrant",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/title-grants/manual/batch": {
   "post": {
    "operationId": "createAdminManualTitleGrantBatch",
    "description": "Idempotently records a manual Challenge Completion and linked Grant for the Cartesian product of normalized playerAccountIds and title targets. Invalid players, scopes, maps, gameplay revisions, applicability, or an expanded request over 500 cells are rejected before writes. The historical title migration /bulk route is separate.",
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/title-grants/{grantId}/revoke": {
   "post": {
    "operationId": "revokeAdminTitleGrant",
    "description": "Only active Grants can be revoked. Evidence-invalidated Grants cannot be reclassified as administrator revocations.",
    "parameters": [
     {
      "$ref": "#/components/parameters/grantId"
     }
    ],
    "responses": {
     "204": {
      "description": "Revoked"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/title-grants/{grantId}/restore": {
   "post": {
    "operationId": "restoreAdminTitleGrant",
    "description": "Maintainer-only restoration of a Grant previously revoked by an administrator. Evidence-invalidated Grants cannot be restored through this operation; an existing active Grant in the same qualification scope returns a conflict.",
    "parameters": [
     {
      "$ref": "#/components/parameters/grantId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "204": {
      "description": "Restored"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions": {
   "get": {
    "operationId": "listAdminSubmissions",
    "description": "Maintainer submission views include Verified Run outcome reason and conflict fields when present; these details are never in public or player responses. order=oldest lists the least recently updated Submissions first (longest wait); order=newest, the default when omitted, lists the most recently updated first. Any other order value returns 422.",
    "parameters": [
     {
      "name": "order",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "oldest",
        "newest"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions/{submissionId}": {
   "get": {
    "operationId": "getAdminSubmission",
    "description": "Maintainer detail can inspect the Verified Run outcome, including its internal reason, conflict fields, and Verified Run ID, and the Submission's latest review decision (review: decision, automatic, reason, reviewedAt) when one exists, plus activeTitleGrants: the active Grants this Submission produced through automatic or maintainer approval.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions/{submissionId}/review": {
   "post": {
    "operationId": "reviewSubmission",
    "description": "Maintainer approval may include complete visible values for safe structured OCR fields. The platform reruns canonical Challenge Conditions against corrected facts and records all matching supported outcomes. Corrections are business corrections only: they produce no OCR annotations or training labels, and raw OCR evidence remains unchanged. Approval may also include confirmedChallengeIds: canonical Challenges the maintainer visually confirmed from the screenshot. Each must belong to the Submission's eligible Challenge set or the request fails with CHALLENGE_CONFIRMATION_INELIGIBLE; confirmed Challenges are then recorded through the normal Completion and Grant chain, which can still refuse them (for example CHALLENGE_NOT_COMPLETABLE or TITLE_GRANT_ADMINISTRATIVELY_REVOKED). Rejections and resubmission requests cannot carry confirmations. Every decision is kept as its own review record and the latest one is current, so a maintainer may decide again. A later decision changes only the Submission status and reason; it never revokes Grants or Verified Runs the Submission already produced. Re-approving a Submission with no new Challenge outcome is accepted on the active Grants it still holds from an earlier automatic or maintainer approval, reported in grants with alreadyOwned true alongside any recorded Verified Run outcome; the review audit lists them as retainedGrants.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions/{submissionId}/review/preview": {
   "post": {
    "operationId": "previewSubmissionReview",
    "description": "Read-only approval preview for the same fieldCorrections and confirmedChallengeIds an approval would send. Returns every eligible Challenge with its evidence state (matched, needs_confirmation, not_matched, unsupported) and missing evidence fields, the Completions and Titles approval would record, the Verified Run evidence state, and approvable/blockingCode. It writes nothing: no review, Completion, Grant, or canonical Challenge record. Canonical Challenges approval would create or archive are planned in memory and materialized only by the approval.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions/{submissionId}/ocr/retry": {
   "post": {
    "operationId": "requestAdminOcr",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions/{submissionId}/spot-check": {
   "post": {
    "operationId": "resolveAdminSubmissionSpotCheck",
    "description": "A revoked evidence spot check invalidates only the active verified run created by this submission. A title-grant-only revocation remains independent from mastery lifecycle.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/screenshot-sets": {
   "get": {
    "operationId": "listAdminScreenshotSets",
    "description": "Maintainer-only list of immutable screenshot sets prepared for OCRKit training. A set is the explicit approval that its member screenshots may be used for OCR training; members are selected automatically by rule (screenshots from approved Submissions plus screenshots whose current recognition carries an inaccurate accuracy mark) rather than per-screenshot opt-in.",
    "parameters": [
     {
      "$ref": "#/components/parameters/screenshotSetStatus"
     },
     {
      "$ref": "#/components/parameters/screenshotSetPage"
     },
     {
      "$ref": "#/components/parameters/screenshotSetPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   },
   "post": {
    "operationId": "createAdminScreenshotSet",
    "description": "Creates a draft screenshot set from the current membership rule. Maintainers may pass excludedSourceIds to drop anomalous screenshots before finalization; candidates that already lack stored evidence or a usable layout version are recorded as automatic exclusions. Membership freezes at creation. Requires the Idempotency-Key header; an excludedSourceIds entry that is not a current candidate returns SCREENSHOT_SET_EXCLUSION_INVALID.",
    "parameters": [
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/screenshot-sets/candidates": {
   "get": {
    "operationId": "listAdminScreenshotSetCandidates",
    "description": "Maintainer-only preview of the screenshots the membership rule would select now. Each item exposes the source screenshot id, its Submission reference, the current accuracy mark when present, the layout version, and the evidence URL for visual review. Maintainer exclusion is opt-out only; normal screenshots never need per-item approval.",
    "parameters": [
     {
      "$ref": "#/components/parameters/screenshotSetPage"
     },
     {
      "$ref": "#/components/parameters/screenshotSetPageSize"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/screenshot-sets/{setId}": {
   "get": {
    "operationId": "getAdminScreenshotSet",
    "description": "Maintainer-only detail of one screenshot set: lifecycle status, member screenshot provenance (object key, sha256, mime type, size, layout version, accuracy mark), and recorded exclusions. Draft, finalized, and discarded sets are all readable here.",
    "parameters": [
     {
      "$ref": "#/components/parameters/screenshotSetId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/screenshot-sets/{setId}/finalize": {
   "post": {
    "operationId": "finalizeAdminScreenshotSet",
    "description": "Finalizes a draft screenshot set. Finalized sets are immutable: members, exclusions, and provenance cannot change; a later correction is a new set version. Only finalized sets are visible to OCRKit. Requires the Idempotency-Key header; an already-finalized set returns SCREENSHOT_SET_ALREADY_FINALIZED and a discarded set returns SCREENSHOT_SET_ALREADY_DISCARDED.",
    "parameters": [
     {
      "$ref": "#/components/parameters/screenshotSetId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/screenshot-sets/{setId}/discard": {
   "post": {
    "operationId": "discardAdminScreenshotSet",
    "description": "Discards a draft screenshot set so the draft lifecycle always closes: a draft that will not be finalized is discarded rather than left open forever. Discarded sets stay readable for audit but are never visible to OCRKit; a newer correction is a new set version. Requires the Idempotency-Key header; a finalized set returns SCREENSHOT_SET_ALREADY_FINALIZED and an already-discarded set returns SCREENSHOT_SET_ALREADY_DISCARDED.",
    "parameters": [
     {
      "$ref": "#/components/parameters/screenshotSetId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/ocrkit/screenshot-sets/{version}": {
   "get": {
    "operationId": "getOcrkitScreenshotSet",
    "description": "Private, versioned OCRKit consumption contract. Requires the OCRKIT_SNAPSHOT_TOKEN secret as a Bearer credential; browser and player clients never use this surface. Reads only finalized sets and exposes schema_version, set_id, version, finalized, finalized_at, and one member per source screenshot (source_id, R2 object key, sha256, mime_type, size_bytes, layout_version, and the accuracy mark when present). The payload carries no player identity, QQ data, Submission decisions, Grant/mastery state, or risk signals, and never returns image bytes: OCRKit downloads the member objects directly from the evidence bucket with its own read-only credentials. Draft and discarded versions return 409 SCREENSHOT_SET_NOT_FINALIZED; unknown versions return 404 SCREENSHOT_SET_NOT_FOUND.",
    "parameters": [
     {
      "$ref": "#/components/parameters/screenshotSetVersion"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/qq/bindings": {
   "post": {
    "operationId": "createQqBinding",
    "responses": {
     "201": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/submissions/{submissionId}": {
   "get": {
    "operationId": "getPublicSubmission",
    "description": "Opaque public status may include only a safe Verified Run outcome status and awarded XP. It excludes match codes, Verified Run IDs, internal reasons and conflicts, player identity, evidence, and OCR output.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/admin/submissions/{submissionId}/ocr-accuracy": {
   "post": {
    "operationId": "submitAdminOcrAccuracy",
    "description": "Maintainer marks whether the latest recognition result for a Submission read the screenshot accurately. Shares one mark per (Submission, OCR result) with the player endpoint; the latest writer wins. The mark carries no transcription content and is a sampling/prioritization hint for OCRKit only. Requires the Idempotency-Key header; a stale OCR result returns OCR_PROMPT_STALE.",
    "parameters": [
     {
      "$ref": "#/components/parameters/submissionId"
     },
     {
      "$ref": "#/components/parameters/idempotencyKey"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/Json"
     },
     "401": {
      "$ref": "#/components/responses/Json"
     },
     "403": {
      "$ref": "#/components/responses/Json"
     },
     "404": {
      "$ref": "#/components/responses/Json"
     },
     "409": {
      "$ref": "#/components/responses/Json"
     },
     "422": {
      "$ref": "#/components/responses/Json"
     }
    }
   }
  },
  "/v1/ocrkit/jobs/{jobId}/result": {
   "post": {
    "operationId": "completeOcrkitJob",
    "summary": "Deliver an asynchronous OCRKit result",
    "description": "Private OCRKit callback authenticated with OCRKIT_API_TOKEN. The job UUID identifies the current processing round. Duplicate, stale, and unknown jobs return 204. Concurrent or transient processing errors return 503 and must be retried. Recognition evidence is retained in full; known business fields are validated.",
    "parameters": [
     {
      "name": "jobId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "Authorization",
      "in": "header",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Bearer OCRKIT_API_TOKEN"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "oneOf": [
         {
          "type": "object",
          "additionalProperties": false,
          "required": [
           "contractVersion",
           "result"
          ],
          "properties": {
           "contractVersion": {
            "type": "string",
            "enum": [
             "1"
            ]
           },
           "result": {
            "type": "object",
            "required": [
             "schema_version",
             "ok",
             "request_id",
             "fields",
             "data"
            ],
            "properties": {
             "schema_version": {
              "type": "string",
              "enum": [
               "1"
              ]
             },
             "ok": {
              "type": "boolean"
             },
             "request_id": {
              "type": "string",
              "format": "uuid",
              "description": "Must equal the callback path jobId"
             },
             "fields": {
              "type": "object",
              "additionalProperties": {
               "type": "object",
               "additionalProperties": true,
               "properties": {
                "confidence": {
                 "type": "number",
                 "minimum": 0,
                 "maximum": 1
                },
                "status": {
                 "type": "string"
                },
                "value": {}
               }
              }
             },
             "data": {
              "type": "object",
              "nullable": true,
              "additionalProperties": true
             }
            },
            "additionalProperties": true
           }
          }
         },
         {
          "type": "object",
          "additionalProperties": false,
          "required": [
           "contractVersion",
           "errorCode"
          ],
          "properties": {
           "contractVersion": {
            "type": "string",
            "enum": [
             "1"
            ]
           },
           "errorCode": {
            "type": "string",
            "enum": [
             "OCR_RECOGNITION_FAILED",
             "OCR_JOB_EXPIRED"
            ]
           }
          }
         }
        ]
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "Result applied or duplicate, stale, or unknown job ignored"
     },
     "400": {
      "description": "Malformed callback or mismatched request_id"
     },
     "401": {
      "description": "Invalid service token"
     },
     "503": {
      "description": "Retryable processing failure or concurrent callback"
     }
    }
   }
  }
 },
 "components": {
  "parameters": {
   "submissionId": {
    "name": "submissionId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "uploadId": {
    "name": "uploadId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "groupOpenId": {
    "name": "groupOpenId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "playerAccountId": {
    "name": "playerAccountId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "mapId": {
    "name": "mapId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "revisionId": {
    "name": "revisionId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "idempotencyKey": {
    "name": "Idempotency-Key",
    "in": "header",
    "required": true,
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "eventId": {
    "name": "eventId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "reviewTargetType": {
    "name": "targetType",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "enum": [
      "event",
      "map"
     ]
    }
   },
   "reviewTargetId": {
    "name": "targetId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "reviewGameplayRevisionId": {
    "name": "gameplayRevisionId",
    "in": "query",
    "required": false,
    "description": "Required when targetType is map; exact Gameplay Revision being reviewed. Omit for stable Event reviews.",
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "reviewTargetTypeQuery": {
    "name": "targetType",
    "in": "query",
    "required": true,
    "schema": {
     "type": "string",
     "enum": [
      "event",
      "map"
     ]
    }
   },
   "reviewTargetIds": {
    "name": "targetIds",
    "in": "query",
    "required": true,
    "description": "Comma-separated stable Event IDs or map IDs paired positionally with gameplayRevisionIds; Event IDs must be unique, while a map ID may repeat for distinct Revisions. Maximum 100 IDs.",
    "schema": {
     "type": "string",
     "minLength": 1
    }
   },
   "reviewGameplayRevisionIds": {
    "name": "gameplayRevisionIds",
    "in": "query",
    "required": false,
    "description": "For map summary batches, comma-separated exact Gameplay Revision IDs aligned positionally with targetIds. Required for map targets and omitted for Event targets.",
    "schema": {
     "type": "string",
     "minLength": 1
    }
   },
   "reviewPage": {
    "name": "page",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "default": 1
    }
   },
   "reviewPageSize": {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "maximum": 50,
     "default": 20
    }
   },
   "masteryMapId": {
    "name": "mapId",
    "in": "query",
    "required": false,
    "description": "Stable platform map ID.",
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "masteryGameplayRevisionId": {
    "name": "gameplayRevisionId",
    "in": "query",
    "required": false,
    "description": "Stable gameplay revision ID. When supplied, the player profile is scoped to that revision; otherwise the map default revision is used.",
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "masteryPage": {
    "name": "page",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "default": 1
    }
   },
   "masteryPageSize": {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "maximum": 50,
     "default": 20
    }
   },
   "verifiedRunId": {
    "name": "verifiedRunId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "adminVerifiedRunPlayerAccountId": {
    "name": "playerAccountId",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "adminVerifiedRunMapId": {
    "name": "mapId",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "adminVerifiedRunGameplayRevisionId": {
    "name": "gameplayRevisionId",
    "in": "query",
    "required": false,
    "description": "Stable gameplay revision ID.",
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "adminVerifiedRunDifficulty": {
    "name": "difficulty",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "简单",
      "一般",
      "困难",
      "专家",
      "传奇",
      "地狱"
     ]
    }
   },
   "adminVerifiedRunStatus": {
    "name": "status",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "active",
      "invalidated"
     ]
    }
   },
   "adminVerifiedRunAcceptanceSource": {
    "name": "acceptanceSource",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "submission_automatic",
      "submission_review"
     ]
    }
   },
   "adminVerifiedRunMatchCode": {
    "name": "matchCode",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "pattern": "^[1-9]\\d{3}(?:-[1-9]\\d{3}){2}$"
    }
   },
   "adminVerifiedRunFrom": {
    "name": "from",
    "in": "query",
    "required": false,
    "description": "Accepted-at timestamp in milliseconds, inclusive.",
    "schema": {
     "type": "integer",
     "minimum": 0
    }
   },
   "adminVerifiedRunTo": {
    "name": "to",
    "in": "query",
    "required": false,
    "description": "Accepted-at timestamp in milliseconds, inclusive.",
    "schema": {
     "type": "integer",
     "minimum": 0
    }
   },
   "adminReviewTargetType": {
    "name": "targetType",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "event",
      "map"
     ]
    }
   },
   "adminReviewTargetId": {
    "name": "targetId",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "adminReviewStatus": {
    "name": "status",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "active",
      "withdrawn",
      "invalidated"
     ]
    }
   },
   "adminReviewCommentStatus": {
    "name": "commentStatus",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "visible",
      "hidden"
     ]
    }
   },
   "adminReviewRating": {
    "name": "rating",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "maximum": 5
    }
   },
   "adminReviewFrom": {
    "name": "from",
    "in": "query",
    "required": false,
    "description": "Created-at timestamp in milliseconds, inclusive.",
    "schema": {
     "type": "integer",
     "minimum": 0
    }
   },
   "adminReviewTo": {
    "name": "to",
    "in": "query",
    "required": false,
    "description": "Created-at timestamp in milliseconds, inclusive.",
    "schema": {
     "type": "integer",
     "minimum": 0
    }
   },
   "reviewId": {
    "name": "reviewId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "mapIdQuery": {
    "name": "mapId",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "mapIdQueryRequired": {
    "name": "mapId",
    "in": "query",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "titleKey": {
    "name": "titleKey",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "titleIconVersion": {
    "name": "version",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    },
    "description": "Opaque per-upload version minted when the icon was stored. A mismatched or stale version 404s instead of resolving to the current icon."
   },
   "challengeId": {
    "name": "challengeId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "achievementId": {
    "name": "achievementId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "bindingId": {
    "name": "bindingId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "inviteId": {
    "name": "inviteId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "claimId": {
    "name": "claimId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "claimToken": {
    "name": "x-claim-token",
    "in": "header",
    "required": true,
    "schema": {
     "type": "string",
     "minLength": 32
    }
   },
   "agentPage": {
    "name": "page",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "default": 1
    }
   },
   "agentPageSize": {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "maximum": 100,
     "default": 20
    }
   },
   "agentQuery": {
    "name": "q",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "agentQueryRequired": {
    "name": "q",
    "in": "query",
    "required": true,
    "schema": {
     "type": "string",
     "minLength": 1
    }
   },
   "agentCategory": {
    "name": "category",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "agentRarity": {
    "name": "rarity",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "agentMechanic": {
    "name": "mechanic",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "agentStatus": {
    "name": "status",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "active",
      "sunsetting"
     ]
    }
   },
   "agentEventStatus": {
    "name": "status",
    "in": "query",
    "required": false,
    "description": "Selects a single random-event releaseStatus. Only applies to event results; without it, the default projection covers implemented and removed events.",
    "schema": {
     "type": "string",
     "enum": [
      "development",
      "implemented",
      "removed"
     ]
    }
   },
   "agentGameplayRevisionId": {
    "name": "gameplayRevisionId",
    "in": "query",
    "required": false,
    "description": "Stable gameplay revision ID used to disambiguate a revision-scoped challenge projection.",
    "schema": {
     "type": "string",
     "minLength": 1,
     "maxLength": 256
    }
   },
   "agentScope": {
    "name": "scope",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "global",
      "map"
     ]
    }
   },
   "agentKind": {
    "name": "kind",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "event",
      "map",
      "achievement",
      "title"
     ]
    }
   },
   "grantId": {
    "name": "grantId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "ruleId": {
    "name": "ruleId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "screenshotSetId": {
    "name": "setId",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "screenshotSetVersion": {
    "name": "version",
    "in": "path",
    "required": true,
    "schema": {
     "type": "integer",
     "minimum": 1
    }
   },
   "screenshotSetStatus": {
    "name": "status",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "draft",
      "finalized",
      "discarded"
     ]
    }
   },
   "screenshotSetPage": {
    "name": "page",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "default": 1
    }
   },
   "screenshotSetPageSize": {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
     "type": "integer",
     "minimum": 1,
     "maximum": 100,
     "default": 20
    }
   }
  },
  "responses": {
   "Json": {
    "description": "JSON response",
    "content": {
     "application/json": {
      "schema": {
       "type": "object",
       "additionalProperties": true
      }
     }
    }
   }
  }
 }
}
