{
  "openapi": "3.0.3",
  "info": { "title": "OWBastion Platform API", "version": "1.0.0" },
  "servers": [{ "url": "https://api.owbastion.com" }],
  "paths": {
    "/health": { "get": { "operationId": "getHealth", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/auth/qq/login-attempt": { "post": { "operationId": "createQqLoginAttempt", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/auth/qq/login-attempt/{attemptId}": { "get": { "operationId": "getQqLoginAttempt", "parameters": [{ "$ref": "#/components/parameters/attemptId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/qq/auth/verify": { "post": { "operationId": "verifyQqLogin", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me": { "get": { "operationId": "getCurrentPlayer", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/mastery": { "get": { "operationId": "getCurrentPlayerMastery", "description": "Authenticated current-player mastery read. Without a gameplay revision ID, aggregates and personal bests use active verified runs from each map's default revision; an explicit revision ID returns that revision's own profile. Bounded private history may include an invalidated status without lifecycle reasons. It excludes run codes, source submissions, evidence, OCR, QQ identity, audit, risk, and XP rule snapshot fields.", "parameters": [{ "$ref": "#/components/parameters/masteryMapId" }, { "$ref": "#/components/parameters/masteryGameplayRevisionId" }, { "$ref": "#/components/parameters/masteryPage" }, { "$ref": "#/components/parameters/masteryPageSize" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/reviews/{targetType}/{targetId}": { "get": { "operationId": "getCurrentPlayerReview", "parameters": [{ "$ref": "#/components/parameters/reviewTargetType" }, { "$ref": "#/components/parameters/reviewTargetId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "put": { "operationId": "upsertCurrentPlayerReview", "parameters": [{ "$ref": "#/components/parameters/reviewTargetType" }, { "$ref": "#/components/parameters/reviewTargetId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/reviews/{reviewId}/withdraw": { "post": { "operationId": "withdrawCurrentPlayerReview", "parameters": [{ "$ref": "#/components/parameters/reviewId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/titles": { "get": { "operationId": "listCurrentPlayerTitles", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/submissions/{submissionId}": { "get": { "operationId": "getPlayerSubmission", "description": "Private player submission detail may include only the safe mastery outcome status and awarded XP. It excludes run codes, mastery-run IDs, internal reasons, conflict fields, evidence, and OCR raw data.", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/submissions/{submissionId}/evidence": { "get": { "operationId": "getPlayerEvidence", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "description": "Private evidence image" } } } },
    "/v1/auth/logout": { "post": { "operationId": "logout", "responses": { "204": { "description": "Logged out" } } } },
    "/v1/public/reviews/summaries": { "get": { "operationId": "getPublicReviewSummaries", "parameters": [{ "$ref": "#/components/parameters/reviewTargetTypeQuery" }, { "$ref": "#/components/parameters/reviewTargetIds" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/reviews/{targetType}/{targetId}/summary": { "get": { "operationId": "getPublicReviewSummary", "parameters": [{ "$ref": "#/components/parameters/reviewTargetType" }, { "$ref": "#/components/parameters/reviewTargetId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/reviews/{targetType}/{targetId}/comments": { "get": { "operationId": "listPublicReviewComments", "parameters": [{ "$ref": "#/components/parameters/reviewTargetType" }, { "$ref": "#/components/parameters/reviewTargetId" }, { "$ref": "#/components/parameters/reviewPage" }, { "$ref": "#/components/parameters/reviewPageSize" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/reviews": { "get": { "operationId": "listAdminReviews", "parameters": [{ "$ref": "#/components/parameters/adminReviewTargetType" }, { "$ref": "#/components/parameters/adminReviewTargetId" }, { "$ref": "#/components/parameters/adminReviewStatus" }, { "$ref": "#/components/parameters/adminReviewCommentStatus" }, { "$ref": "#/components/parameters/adminReviewRating" }, { "$ref": "#/components/parameters/adminReviewFrom" }, { "$ref": "#/components/parameters/adminReviewTo" }, { "$ref": "#/components/parameters/reviewPage" }, { "$ref": "#/components/parameters/reviewPageSize" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/reviews/{reviewId}": { "get": { "operationId": "getAdminReview", "parameters": [{ "$ref": "#/components/parameters/reviewId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/reviews/{reviewId}/comment": { "post": { "operationId": "moderateAdminReviewComment", "parameters": [{ "$ref": "#/components/parameters/reviewId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/reviews/{reviewId}/state": { "post": { "operationId": "moderateAdminReviewState", "parameters": [{ "$ref": "#/components/parameters/reviewId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/mastery-runs": { "get": { "operationId": "listAdminMasteryRuns", "description": "Maintainer-only, uncached mastery-run list. It may filter by player, map, gameplay revision, difficulty, state, acceptance origin, run code, and inclusive accepted-at range. It includes private operational fields and must not be exposed through player or public routes.", "parameters": [{ "$ref": "#/components/parameters/adminMasteryPlayerAccountId" }, { "$ref": "#/components/parameters/adminMasteryMapId" }, { "$ref": "#/components/parameters/adminMasteryGameplayRevisionId" }, { "$ref": "#/components/parameters/adminMasteryDifficulty" }, { "$ref": "#/components/parameters/adminMasteryStatus" }, { "$ref": "#/components/parameters/adminMasteryAcceptanceSource" }, { "$ref": "#/components/parameters/adminMasteryRunCode" }, { "$ref": "#/components/parameters/adminMasteryFrom" }, { "$ref": "#/components/parameters/adminMasteryTo" }, { "$ref": "#/components/parameters/masteryPage" }, { "$ref": "#/components/parameters/masteryPageSize" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/mastery-runs/{masteryRunId}": { "get": { "operationId": "getAdminMasteryRun", "description": "Maintainer-only, uncached operational detail with the verified run, source submission/evidence route, OCR settlement facts, XP snapshot, current map projection, lifecycle, and same-player run-code conflicts. It is not a public or player response.", "parameters": [{ "$ref": "#/components/parameters/masteryRunId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/mastery-runs/{masteryRunId}/state": { "post": { "operationId": "transitionAdminMasteryRun", "description": "Maintainer-only idempotent invalidation or restoration. The transition records actor, time, optional reason, lifecycle and audit state, and recomputes the source submission outcome and current map projection. Restoration rejects a colliding active same-player run code.", "parameters": [{ "$ref": "#/components/parameters/masteryRunId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/mastery-runs/{masteryRunId}/conflicts/{submissionId}": { "post": { "operationId": "resolveAdminMasteryRunConflict", "description": "Maintainer-only idempotent conflict resolution. Keeping the original records the decision without merging screenshots; invalidating it preserves both submissions and requires the corrected submission to continue through the normal reviewed OCR/submission path.", "parameters": [{ "$ref": "#/components/parameters/masteryRunId" }, { "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/achievements": { "get": { "operationId": "listPublicAchievements", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/achievement-icons/{titleKey}": { "get": { "operationId": "getPublicAchievementIcon", "parameters": [{ "$ref": "#/components/parameters/titleKey" }], "responses": { "200": { "description": "Public achievement icon" } } } },
    "/v1/public/binding-invites/redeem": { "post": { "operationId": "redeemBindingInvite", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/binding-claims/{claimId}": { "get": { "operationId": "getBindingClaimStatus", "parameters": [{ "$ref": "#/components/parameters/claimId" }, { "$ref": "#/components/parameters/claimToken" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/challenges": { "get": { "operationId": "listChallenges", "description": "Each map challenge projection includes its required gameplayRevisionId. Clients preserve that exact ID when creating or confirming a map submission.", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/titles": { "get": { "operationId": "listTitles", "parameters": [{ "$ref": "#/components/parameters/mapIdQuery" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/maps": { "get": { "operationId": "listMaps", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/events": { "get": { "operationId": "listRandomEvents", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/events/{eventId}": { "get": { "operationId": "getRandomEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/events": { "get": { "operationId": "listAgentEvents", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }, { "$ref": "#/components/parameters/agentQuery" }, { "$ref": "#/components/parameters/agentCategory" }, { "$ref": "#/components/parameters/agentRarity" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/events/{eventId}": { "get": { "operationId": "getAgentEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/maps": { "get": { "operationId": "listAgentMaps", "description": "Read-only Bastion build projection. Each active map remains listed, but gameplayRevisions contains only lifecycle=default/selectable revisions with valid typed spatialConfig, valid revision-scoped challenge references, and exactly one projectable default. Control role arrays are independently present only when the stable Bastion map implementation uses them; a respawn axis requires a respawn vector. Multi-stage maps may expose deterministic alternateStages with stable stage IDs; Bastion retains game-engine stage detection. An empty gameplayRevisions array means the map is not Bastion-ready; it does not mean that the map or its retained revisions are retired. Arrays are deterministic: maps by mapName/mapId, revisions default first then gameplayRevisionId, and challengeRefs by challengeId.", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }, { "$ref": "#/components/parameters/agentQuery" }, { "$ref": "#/components/parameters/agentMechanic" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/maps/{mapId}": { "get": { "operationId": "getAgentMap", "description": "Returns the same stable map projection as listAgentMaps. gameplayRevisions is an explicit enabled/default/selectable projection; preparing and historical revisions are omitted, and incomplete spatial or challenge data is never emitted as Bastion-ready.", "parameters": [{ "$ref": "#/components/parameters/mapId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/achievements": { "get": { "operationId": "listAgentAchievements", "description": "Returns current global achievements plus map challenge projections for projectable enabled gameplay revisions. Map items carry gameplayRevisionId; consumers join a map item's challengeRefs to these definitions using family + challengeId + gameplayRevisionId, rather than labels, array order, or null fields.", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }, { "$ref": "#/components/parameters/agentQuery" }, { "$ref": "#/components/parameters/agentStatus" }, { "$ref": "#/components/parameters/mapIdQuery" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/achievements/{achievementId}": { "get": { "operationId": "getAgentAchievement", "description": "A map challenge lookup is unambiguous only when mapId and, where a challenge is assigned to multiple enabled revisions, gameplayRevisionId identify the intended projection.", "parameters": [{ "$ref": "#/components/parameters/achievementId" }, { "$ref": "#/components/parameters/mapIdQuery" }, { "$ref": "#/components/parameters/agentGameplayRevisionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/titles": { "get": { "operationId": "listAgentTitles", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }, { "$ref": "#/components/parameters/agentQuery" }, { "$ref": "#/components/parameters/agentCategory" }, { "$ref": "#/components/parameters/agentScope" }, { "$ref": "#/components/parameters/mapIdQuery" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/titles/{titleKey}": { "get": { "operationId": "getAgentTitle", "parameters": [{ "$ref": "#/components/parameters/titleKey" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/player-title-grants": { "get": { "operationId": "listAgentPlayerTitleGrants", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/map-title-holders": { "get": { "operationId": "listAgentMapTitleHolders", "description": "Returns active public map title holders only for projectable enabled revisions of the requested stable map. Every item carries gameplayRevisionId; historical-only, preparing, null-revision, and otherwise non-projectable grants are omitted.", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }, { "$ref": "#/components/parameters/mapIdQueryRequired" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/agents/search": { "get": { "operationId": "searchAgentContent", "parameters": [{ "$ref": "#/components/parameters/agentPage" }, { "$ref": "#/components/parameters/agentPageSize" }, { "$ref": "#/components/parameters/agentQueryRequired" }, { "$ref": "#/components/parameters/agentKind" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/player/uploads/session": { "post": { "operationId": "createPlayerUploadSession", "description": "A map submission may include the selected map challenge's gameplayRevisionId; the platform resolves and snapshots that exact revision.", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/uploads/{uploadId}": { "put": { "operationId": "uploadEvidence", "parameters": [{ "$ref": "#/components/parameters/uploadId" }], "responses": { "204": { "description": "Uploaded" } } } },
    "/v1/player/uploads/{uploadId}/complete": { "post": { "operationId": "completePlayerUpload", "parameters": [{ "$ref": "#/components/parameters/uploadId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/player/submissions/{submissionId}/challenge": { "post": { "operationId": "confirmPlayerSubmissionChallenge", "description": "When confirming a map challenge, preserve its gameplayRevisionId so the submission snapshots the selected revision.", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/player/submissions/{submissionId}/manual-review": { "post": { "operationId": "requestPlayerManualReview", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "204": { "description": "Manual review requested" } } } },
    "/v1/qq/groups": { "post": { "operationId": "registerQqGroup", "responses": { "204": { "description": "Registered" } } } },
    "/v1/admin/qq/groups/{groupOpenId}": { "put": { "operationId": "updateQqGroupAccess", "parameters": [{ "$ref": "#/components/parameters/groupOpenId" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/qq/groups": { "get": { "operationId": "listQqGroupAccess", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/player-accounts": { "get": { "operationId": "listAdminPlayers", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/player-accounts/{playerAccountId}": { "get": { "operationId": "getAdminPlayer", "parameters": [{ "$ref": "#/components/parameters/playerAccountId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/player-accounts/{playerAccountId}/status": { "put": { "operationId": "updateAdminPlayerStatus", "parameters": [{ "$ref": "#/components/parameters/playerAccountId" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/player-accounts/{playerAccountId}/identity": { "put": { "operationId": "updateAdminPlayerIdentity", "parameters": [{ "$ref": "#/components/parameters/playerAccountId" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/achievements": { "get": { "operationId": "listAdminAchievements", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createAdminAchievement", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps": { "get": { "operationId": "listAdminMaps", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/editor": { "get": { "operationId": "getAdminMapEditor", "description": "Maintainer-only map revision workspace. It includes retained preparing and historical revisions, revision-scoped challenge assignments, spatial configuration and audit records; it is not the Bastion projection.", "parameters": [{ "$ref": "#/components/parameters/mapId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/revisions": { "post": { "operationId": "createAdminMapRevision", "description": "Creates a preparing revision for reset/rework. The platform derives its target game version from the map's current catalog version; an optional reset reason is audit-only. When configuration copying is requested, only spatial configuration and challenge assignments are copied; player progress is never copied.", "parameters": [{ "$ref": "#/components/parameters/mapId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "responses": { "201": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/revisions/{revisionId}": { "put": { "operationId": "updateAdminMapRevision", "description": "Saves lifecycle, spatial configuration and generic revision-scoped challenge assignments. The platform retains the revision game version; when promotion replaces another default, the request explicitly chooses whether that previous default becomes selectable or historical. Platform validation is authoritative.", "parameters": [{ "$ref": "#/components/parameters/mapId" }, { "$ref": "#/components/parameters/revisionId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "401": { "$ref": "#/components/responses/Json" }, "403": { "$ref": "#/components/responses/Json" }, "404": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/map-title-rules": { "get": { "operationId": "listAdminMapTitleRules", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createAdminMapTitleRule", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/map-title-rules/{ruleId}": { "put": { "operationId": "updateAdminMapTitleRule", "parameters": [{ "$ref": "#/components/parameters/ruleId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/map-title-inheritance": { "get": { "operationId": "listAdminMapTitleInheritance", "parameters": [{ "$ref": "#/components/parameters/mapId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/map-title-rules/{ruleId}/exception": { "put": { "operationId": "upsertAdminMapTitleRuleException", "parameters": [{ "$ref": "#/components/parameters/mapId" }, { "$ref": "#/components/parameters/ruleId" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/events": { "get": { "operationId": "listAdminRandomEvents", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createAdminRandomEvent", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/events/{eventId}": { "put": { "operationId": "updateAdminRandomEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "delete": { "operationId": "archiveAdminRandomEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "204": { "description": "Archived" } } } },
    "/v1/admin/events/imports/preview": { "post": { "operationId": "previewRandomEventImport", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/events/imports": { "post": { "operationId": "importRandomEvents", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/metadata": { "put": { "operationId": "updateAdminMapMetadata", "parameters": [{ "$ref": "#/components/parameters/mapId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/titles/{titleKey}": { "put": { "operationId": "updateAdminTitle", "parameters": [{ "$ref": "#/components/parameters/titleKey" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/titles": { "get": { "operationId": "listAdminTitles", "parameters": [{ "$ref": "#/components/parameters/mapIdQuery" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/titles/{titleKey}/icon": { "post": { "operationId": "uploadAdminTitleIcon", "parameters": [{ "$ref": "#/components/parameters/titleKey" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/achievements/{challengeId}": { "put": { "operationId": "updateAdminAchievement", "parameters": [{ "$ref": "#/components/parameters/challengeId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/bindings/{bindingId}": { "delete": { "operationId": "removeAdminBinding", "parameters": [{ "$ref": "#/components/parameters/bindingId" }], "responses": { "204": { "description": "Removed" } } } },
    "/v1/admin/binding-invites": { "get": { "operationId": "listBindingInvites", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createBindingInvite", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-invites/batch": { "post": { "operationId": "createBindingInvitesBatch", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-invites/{inviteId}/code": { "get": { "operationId": "getBindingInviteCode", "parameters": [{ "$ref": "#/components/parameters/inviteId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-invites/{inviteId}/revoke": { "post": { "operationId": "revokeBindingInvite", "parameters": [{ "$ref": "#/components/parameters/inviteId" }], "responses": { "204": { "description": "Revoked" } } } },
    "/v1/admin/binding-claims": { "get": { "operationId": "listBindingClaims", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-claims/{claimId}/decision": { "post": { "operationId": "decideBindingClaim", "parameters": [{ "$ref": "#/components/parameters/claimId" }], "responses": { "204": { "description": "Decided" } } } },
    "/v1/admin/title-grants": { "get": { "operationId": "listHistoricalTitleGrants", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createAdminTitleGrant", "responses": { "204": { "description": "Created" } } } },
    "/v1/admin/title-grants/bulk": { "post": { "operationId": "createAdminTitleGrantsBulk", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/title-grants/manual": { "post": { "operationId": "createAdminManualTitleGrant", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/title-grants/{grantId}/revoke": { "post": { "operationId": "revokeAdminTitleGrant", "parameters": [{ "$ref": "#/components/parameters/grantId" }], "responses": { "204": { "description": "Revoked" } } } },
    "/v1/admin/submissions": { "get": { "operationId": "listAdminSubmissions", "description": "Maintainer submission views include mastery outcome reason and conflict fields when present; these details are never in public or player responses.", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}": { "get": { "operationId": "getAdminSubmission", "description": "Maintainer detail can inspect the mastery outcome, including its internal reason, conflict fields, and mastery-run ID.", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}/evidence": { "get": { "operationId": "getAdminEvidence", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "description": "Private evidence image" } } } },
    "/v1/admin/submissions/{submissionId}/review": { "post": { "operationId": "reviewSubmission", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}/challenge": { "post": { "operationId": "selectAdminSubmissionChallenge", "description": "Select only a persisted OCR candidate: a global achievement with checked title evidence, or a map challenge whose persisted map identity and name match the OCR current map; when OCR recognizes difficulty, the candidate difficulty must match exactly. A duplicate map candidate must include its persisted gameplayRevisionId. Legacy candidates missing scope data are rejected. Do not use the full active challenge catalog as a fallback.", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}/ocr/retry": { "post": { "operationId": "requestAdminOcr", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}/spot-check": { "post": { "operationId": "resolveAdminSubmissionSpotCheck", "description": "A revoked evidence spot check invalidates only the active mastery run created by this submission. A title-grant-only revocation remains independent from mastery lifecycle.", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" }, "409": { "$ref": "#/components/responses/Json" }, "422": { "$ref": "#/components/responses/Json" } } } },
    "/v1/qq/bindings": { "post": { "operationId": "createQqBinding", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/submissions": { "post": { "operationId": "createSubmission", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/submissions/{submissionId}": { "get": { "operationId": "getPublicSubmission", "description": "Opaque public status may include only a safe mastery outcome status and awarded XP. It excludes run codes, mastery-run IDs, internal reasons and conflicts, player identity, evidence, and OCR output.", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } }
  },
  "components": {
    "parameters": {
      "attemptId": { "name": "attemptId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "submissionId": { "name": "submissionId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "uploadId": { "name": "uploadId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "groupOpenId": { "name": "groupOpenId", "in": "path", "required": true, "schema": { "type": "string" } },
      "playerAccountId": { "name": "playerAccountId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "mapId": { "name": "mapId", "in": "path", "required": true, "schema": { "type": "string" } },
      "revisionId": { "name": "revisionId", "in": "path", "required": true, "schema": { "type": "string" } },
      "idempotencyKey": { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 256 } },
      "eventId": { "name": "eventId", "in": "path", "required": true, "schema": { "type": "string" } },
      "reviewTargetType": { "name": "targetType", "in": "path", "required": true, "schema": { "type": "string", "enum": ["event", "map"] } },
      "reviewTargetId": { "name": "targetId", "in": "path", "required": true, "schema": { "type": "string" } },
      "reviewTargetTypeQuery": { "name": "targetType", "in": "query", "required": true, "schema": { "type": "string", "enum": ["event", "map"] } },
      "reviewTargetIds": { "name": "targetIds", "in": "query", "required": true, "description": "Comma-separated stable event or map IDs; maximum 100 IDs.", "schema": { "type": "string", "minLength": 1 } },
      "reviewPage": { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "default": 1 } },
      "reviewPageSize": { "name": "pageSize", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 } },
      "masteryMapId": { "name": "mapId", "in": "query", "required": false, "description": "Stable platform map ID.", "schema": { "type": "string", "minLength": 1, "maxLength": 256 } },
      "masteryGameplayRevisionId": { "name": "gameplayRevisionId", "in": "query", "required": false, "description": "Stable gameplay revision ID. When supplied, the player profile is scoped to that revision; otherwise the map default revision is used.", "schema": { "type": "string", "minLength": 1, "maxLength": 256 } },
      "masteryPage": { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "default": 1 } },
      "masteryPageSize": { "name": "pageSize", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 } },
      "masteryRunId": { "name": "masteryRunId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "adminMasteryPlayerAccountId": { "name": "playerAccountId", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } },
      "adminMasteryMapId": { "name": "mapId", "in": "query", "required": false, "schema": { "type": "string", "minLength": 1, "maxLength": 256 } },
      "adminMasteryGameplayRevisionId": { "name": "gameplayRevisionId", "in": "query", "required": false, "description": "Stable gameplay revision ID.", "schema": { "type": "string", "minLength": 1, "maxLength": 256 } },
      "adminMasteryDifficulty": { "name": "difficulty", "in": "query", "required": false, "schema": { "type": "string", "enum": ["简单", "一般", "困难", "专家", "传奇", "地狱"] } },
      "adminMasteryStatus": { "name": "status", "in": "query", "required": false, "schema": { "type": "string", "enum": ["active", "invalidated"] } },
      "adminMasteryAcceptanceSource": { "name": "acceptanceSource", "in": "query", "required": false, "schema": { "type": "string", "enum": ["submission_automatic", "submission_review"] } },
      "adminMasteryRunCode": { "name": "runCode", "in": "query", "required": false, "schema": { "type": "string", "pattern": "^[1-9]\\d{3}(?:-[1-9]\\d{3}){2}$" } },
      "adminMasteryFrom": { "name": "from", "in": "query", "required": false, "description": "Accepted-at timestamp in milliseconds, inclusive.", "schema": { "type": "integer", "minimum": 0 } },
      "adminMasteryTo": { "name": "to", "in": "query", "required": false, "description": "Accepted-at timestamp in milliseconds, inclusive.", "schema": { "type": "integer", "minimum": 0 } },
      "adminReviewTargetType": { "name": "targetType", "in": "query", "required": false, "schema": { "type": "string", "enum": ["event", "map"] } },
      "adminReviewTargetId": { "name": "targetId", "in": "query", "required": false, "schema": { "type": "string" } },
      "adminReviewStatus": { "name": "status", "in": "query", "required": false, "schema": { "type": "string", "enum": ["active", "withdrawn", "invalidated"] } },
      "adminReviewCommentStatus": { "name": "commentStatus", "in": "query", "required": false, "schema": { "type": "string", "enum": ["visible", "hidden"] } },
      "adminReviewRating": { "name": "rating", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 5 } },
      "adminReviewFrom": { "name": "from", "in": "query", "required": false, "description": "Created-at timestamp in milliseconds, inclusive.", "schema": { "type": "integer", "minimum": 0 } },
      "adminReviewTo": { "name": "to", "in": "query", "required": false, "description": "Created-at timestamp in milliseconds, inclusive.", "schema": { "type": "integer", "minimum": 0 } },
      "reviewId": { "name": "reviewId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "mapIdQuery": { "name": "mapId", "in": "query", "required": false, "schema": { "type": "string" } },
      "mapIdQueryRequired": { "name": "mapId", "in": "query", "required": true, "schema": { "type": "string" } },
      "titleKey": { "name": "titleKey", "in": "path", "required": true, "schema": { "type": "string" } },
      "challengeId": { "name": "challengeId", "in": "path", "required": true, "schema": { "type": "string" } },
      "achievementId": { "name": "achievementId", "in": "path", "required": true, "schema": { "type": "string" } },
      "bindingId": { "name": "bindingId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "inviteId": { "name": "inviteId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "claimId": { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "claimToken": { "name": "x-claim-token", "in": "header", "required": true, "schema": { "type": "string", "minLength": 32 } },
      "agentPage": { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "default": 1 } },
      "agentPageSize": { "name": "pageSize", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 } },
      "agentQuery": { "name": "q", "in": "query", "required": false, "schema": { "type": "string" } },
      "agentQueryRequired": { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } },
      "agentCategory": { "name": "category", "in": "query", "required": false, "schema": { "type": "string" } },
      "agentRarity": { "name": "rarity", "in": "query", "required": false, "schema": { "type": "string" } },
      "agentMechanic": { "name": "mechanic", "in": "query", "required": false, "schema": { "type": "string" } },
      "agentStatus": { "name": "status", "in": "query", "required": false, "schema": { "type": "string", "enum": ["active", "sunsetting"] } },
      "agentGameplayRevisionId": { "name": "gameplayRevisionId", "in": "query", "required": false, "description": "Stable gameplay revision ID used to disambiguate a revision-scoped challenge projection.", "schema": { "type": "string", "minLength": 1, "maxLength": 256 } },
      "agentScope": { "name": "scope", "in": "query", "required": false, "schema": { "type": "string", "enum": ["global", "map"] } },
      "agentKind": { "name": "kind", "in": "query", "required": false, "schema": { "type": "string", "enum": ["event", "map", "achievement", "title"] } },
      "grantId": { "name": "grantId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "ruleId": { "name": "ruleId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
    },
    "responses": { "Json": { "description": "JSON response", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } } }
  }
}
