{
  "openapi": "3.0.3",
  "info": { "title": "OWBastion Platform API", "version": "1.0.0" },
  "servers": [{ "url": "https://api.owbastion.com" }],
  "paths": {
    "/health": { "get": { "operationId": "getHealth", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/auth/qq/login-attempt": { "post": { "operationId": "createQqLoginAttempt", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/auth/qq/login-attempt/{attemptId}": { "get": { "operationId": "getQqLoginAttempt", "parameters": [{ "$ref": "#/components/parameters/attemptId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/qq/auth/verify": { "post": { "operationId": "verifyQqLogin", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me": { "get": { "operationId": "getCurrentPlayer", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/titles": { "get": { "operationId": "listCurrentPlayerTitles", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/submissions/{submissionId}": { "get": { "operationId": "getPlayerSubmission", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/me/submissions/{submissionId}/evidence": { "get": { "operationId": "getPlayerEvidence", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "description": "Private evidence image" } } } },
    "/v1/auth/logout": { "post": { "operationId": "logout", "responses": { "204": { "description": "Logged out" } } } },
    "/v1/public/achievements": { "get": { "operationId": "listPublicAchievements", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/binding-invites/redeem": { "post": { "operationId": "redeemBindingInvite", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/public/binding-claims/{claimId}": { "get": { "operationId": "getBindingClaimStatus", "parameters": [{ "$ref": "#/components/parameters/claimId" }, { "$ref": "#/components/parameters/claimToken" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/challenges": { "get": { "operationId": "listChallenges", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/titles": { "get": { "operationId": "listTitles", "parameters": [{ "$ref": "#/components/parameters/mapIdQuery" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/maps": { "get": { "operationId": "listMaps", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/events": { "get": { "operationId": "listRandomEvents", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/events/{eventId}": { "get": { "operationId": "getRandomEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/player/uploads/session": { "post": { "operationId": "createPlayerUploadSession", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/uploads/{uploadId}": { "put": { "operationId": "uploadEvidence", "parameters": [{ "$ref": "#/components/parameters/uploadId" }], "responses": { "204": { "description": "Uploaded" } } } },
    "/v1/player/uploads/{uploadId}/complete": { "post": { "operationId": "completePlayerUpload", "parameters": [{ "$ref": "#/components/parameters/uploadId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/qq/groups/{groupOpenId}": { "put": { "operationId": "updateQqGroupAccess", "parameters": [{ "$ref": "#/components/parameters/groupOpenId" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/qq/groups": { "get": { "operationId": "listQqGroupAccess", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/player-accounts": { "get": { "operationId": "listAdminPlayers", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/player-accounts/{playerAccountId}": { "get": { "operationId": "getAdminPlayer", "parameters": [{ "$ref": "#/components/parameters/playerAccountId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/player-accounts/{playerAccountId}/status": { "put": { "operationId": "updateAdminPlayerStatus", "parameters": [{ "$ref": "#/components/parameters/playerAccountId" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/achievements": { "get": { "operationId": "listAdminAchievements", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps": { "get": { "operationId": "listAdminMaps", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/events": { "get": { "operationId": "listAdminRandomEvents", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createAdminRandomEvent", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/events/{eventId}": { "put": { "operationId": "updateAdminRandomEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "delete": { "operationId": "archiveAdminRandomEvent", "parameters": [{ "$ref": "#/components/parameters/eventId" }], "responses": { "204": { "description": "Archived" } } } },
    "/v1/admin/events/imports/preview": { "post": { "operationId": "previewRandomEventImport", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/events/imports": { "post": { "operationId": "importRandomEvents", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/maps/{mapId}/metadata": { "put": { "operationId": "updateAdminMapMetadata", "parameters": [{ "$ref": "#/components/parameters/mapId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/titles/{titleKey}": { "put": { "operationId": "updateAdminTitle", "parameters": [{ "$ref": "#/components/parameters/titleKey" }], "responses": { "204": { "description": "Updated" } } } },
    "/v1/admin/achievements/{challengeId}": { "put": { "operationId": "updateAdminAchievement", "parameters": [{ "$ref": "#/components/parameters/challengeId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/bindings/{bindingId}": { "delete": { "operationId": "removeAdminBinding", "parameters": [{ "$ref": "#/components/parameters/bindingId" }], "responses": { "204": { "description": "Removed" } } } },
    "/v1/admin/binding-invites": { "get": { "operationId": "listBindingInvites", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createBindingInvite", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-invites/batch": { "post": { "operationId": "createBindingInvitesBatch", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-invites/{inviteId}/code": { "get": { "operationId": "getBindingInviteCode", "parameters": [{ "$ref": "#/components/parameters/inviteId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-invites/{inviteId}/revoke": { "post": { "operationId": "revokeBindingInvite", "parameters": [{ "$ref": "#/components/parameters/inviteId" }], "responses": { "204": { "description": "Revoked" } } } },
    "/v1/admin/binding-claims": { "get": { "operationId": "listBindingClaims", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/binding-claims/{claimId}/decision": { "post": { "operationId": "decideBindingClaim", "parameters": [{ "$ref": "#/components/parameters/claimId" }], "responses": { "204": { "description": "Decided" } } } },
    "/v1/admin/title-grants": { "get": { "operationId": "listHistoricalTitleGrants", "responses": { "200": { "$ref": "#/components/responses/Json" } } }, "post": { "operationId": "createAdminTitleGrant", "responses": { "204": { "description": "Created" } } } },
    "/v1/admin/title-grants/bulk": { "post": { "operationId": "createAdminTitleGrantsBulk", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/title-grants/{grantId}/revoke": { "post": { "operationId": "revokeAdminTitleGrant", "parameters": [{ "$ref": "#/components/parameters/grantId" }], "responses": { "204": { "description": "Revoked" } } } },
    "/v1/admin/submissions": { "get": { "operationId": "listAdminSubmissions", "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}": { "get": { "operationId": "getAdminSubmission", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } },
    "/v1/admin/submissions/{submissionId}/evidence": { "get": { "operationId": "getAdminEvidence", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "description": "Private evidence image" } } } },
    "/v1/admin/submissions/{submissionId}/review": { "post": { "operationId": "reviewSubmission", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "204": { "description": "Reviewed" } } } },
    "/v1/qq/bindings": { "post": { "operationId": "createQqBinding", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/submissions": { "post": { "operationId": "createSubmission", "responses": { "201": { "$ref": "#/components/responses/Json" } } } },
    "/v1/submissions/{submissionId}": { "get": { "operationId": "getPublicSubmission", "parameters": [{ "$ref": "#/components/parameters/submissionId" }], "responses": { "200": { "$ref": "#/components/responses/Json" } } } }
  },
  "components": {
    "parameters": {
      "attemptId": { "name": "attemptId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "submissionId": { "name": "submissionId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "uploadId": { "name": "uploadId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "groupOpenId": { "name": "groupOpenId", "in": "path", "required": true, "schema": { "type": "string" } },
      "playerAccountId": { "name": "playerAccountId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "mapId": { "name": "mapId", "in": "path", "required": true, "schema": { "type": "string" } },
      "eventId": { "name": "eventId", "in": "path", "required": true, "schema": { "type": "string" } },
      "mapIdQuery": { "name": "mapId", "in": "query", "required": false, "schema": { "type": "string" } },
      "titleKey": { "name": "titleKey", "in": "path", "required": true, "schema": { "type": "string" } },
      "challengeId": { "name": "challengeId", "in": "path", "required": true, "schema": { "type": "string" } },
      "bindingId": { "name": "bindingId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "inviteId": { "name": "inviteId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "claimId": { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "claimToken": { "name": "x-claim-token", "in": "header", "required": true, "schema": { "type": "string", "minLength": 32 } },
      "grantId": { "name": "grantId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
    },
    "responses": { "Json": { "description": "JSON response", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } } }
  }
}
